<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Speakeassy and Purge MAil</title>
  </head>
 <style> 

 </style>

  <body style="
  width: 600px;
  height: 400px;
  text-align: center;
  font-size: 150%;
  margin-top : 50px;
  background: #5D4033;
 font-family: Times New Roman, Times, serif;">
    <div >
       Hello {{user}},



      <p>{{message}}</p>

      <p>Thanks,<br />Speakeassy and Purge Team</p>
      <p> 
      Disclaimer: This email is intended 
      only for the person to whom it is addressed
       and/or otherwise authorised personnel. 
       The information contained herein and 
       attached is confidential and the property
       of Speakeasy and Purge. if you are not the intended 
      recipient, please be advised that viewing this 
      message and any attachments, as well as copying,
      forwarding, printing, and disseminating any information
      related to this email is prohibited, and that you should 
      not take any action based on the content of this email 
      and/or its attachments.

    </div>
    
  </body>
</html>