<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sending emails</title>
  </head>
 <style>

 </style>

  <body style="
  width: 600px;
  height: 400px;
  text-align: center;
  font-size: 150%;
  margin-top : 50px;
  background: #5D4033;
 font-family: Times New Roman, Times, serif;">
    <div >
       Hello {{user}},



      <p>{{message}}</p>

      <p>Thanks,<br />Speakeassy</p>

    </div>
    
  </body>
</html>